$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

h4 {
  color: $brand-primary;
  text-transform:uppercase;
  font-weight: bold;
}

legend {
  font-size: $font-size-h5;
  font-weight: bold;
  color: $gray;
  border-bottom: 1px solid #bbbbbb;
}

label {
  font-weight: normal;
  color: $gray-light;
}

.modal-header {
  padding:9px 15px;
  border-bottom:1px solid #eee;
  font-weight: bold;
  font-size: $font-size-h4;
  color: #eeeeee;
  background-color: $brand-primary;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .modal-body {
  max-height: 420px;
  overflow-y: auto;
}

.modal .modal-footer {
  background-color: $gray-lighter;
  border-bottom-color: $gray-lighter;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.go-main-view {
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 0.92);
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 30px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 75px;
    background: url('http://i.imgur.com/i7nKKoj.jpg') no-repeat center center fixed;
    background-size: cove
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

// Form tweaks
.g-form-control {
  margin: 2px;
}

.jumbotron form {
  text-align: left;
}
