.text-center
  p.lead
    img.main-logo(src='http://imageshack.com/a/img836/1615/kbgd.png', alt="Gorilla Planner Logo", width='300')
    P Simple Social Planning
    select(ng-model='plan', ng-options='p.name for p in planTemplates')
      option(disabled='', value='') What would you like to plan today?
    br
    br
    button.btn.btn-lg.btn-success(ng-click='startPlanning()', ng-show="plan") Start planning!
