.text-center
  p.lead
    img.main-logo(src='http://imageshack.com/a/img836/1615/kbgd.png', alt="Gorilla Planner Logo", width='300')
    P.lead Simple Social Planning
    select(ng-model='plan', ng-options='p.name for p in planTemplates')
      option(disabled='', value='') What would you like to plan today?
    br
    br
    div(ng-show='plan')
      .alert.alert-danger.col-sm-4.col-sm-offset-4(ng-hide='plan.enabled')
        p The {{ plan.name }} plan is comming soon...
      button.btn.btn-lg.btn-success(ng-click='startPlanning()', ng-show='plan.enabled') Start planning!
